<div class="center hero-unit">
  <h1>Welcome to the Resource App</h1>
 
 <% if !signed_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% else %>
    <div align="center">
      <% if current_user.admin? %>
          <%= link_to "Assign User Into Project", assigned_projects_path, class: "btn" %>
          <%= link_to "Manage User", users_path, class: "btn" %>
          <%= link_to "Manage Plan Of User", man_days_path, class: "btn" %> <br /> <br />
          <%= link_to "Manage Schedule", schedules_path, class: "btn" %>
          <%= link_to "Manage Project", projects_path, class: "btn" %>
      <% else %>
          <%= link_to "Manage Plan", man_days_path, class: "btn" %>
          <%= link_to "Manage Schedule", schedules_path, class: "btn" %>
      <% end %>
    </div>
  <% end %>
</div>
