<h1>Listing schedules</h1>

<%= link_to 'New Schedule', new_schedule_path, class: "btn" %><br/><br/>
<table class= "table table-hover">
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Week</th>
    <th>Status</th>
    <th>Assigned project</th>
    <th>Action</th>
    
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.year %></td>
    <td><%= schedule.month %></td>
    <td><%= schedule.week %></td>
    <td><%= schedule.status %></td>
    <td><%= schedule.assigned_project_id %></td>
    <td><%= link_to 'Show', schedule %>
    <%= link_to 'Edit', edit_schedule_path(schedule) %>
    <%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

